.headingtop {
  color: red;
  text-align: center;
}

.inline {
  font-size: 20px;
  font-weight: bold;
  border: 5px solid black;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: #dfe6e9;
  text-align: center;
}
.list {
  text-align: left;
}
.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 120px;
}

.info {
  margin: 20px 0;
  color: #1a7e76;
}

h1 {
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
}

h1 span {
  padding: 5px 15px;
  background: #2ec2b0;
}

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
}

.dictionary > .term > dt {
  margin-bottom: 1rem;
}

dt {
  color: #2ec2b0;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.emoji {
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}

dd {
  font-size: 92.5%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .term {
  margin-bottom: 1rem;
}

/* Login form CSS */
.container {
  margin: 10% auto;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

form {
  padding: 20px 0;
  position: relative;
}
input {
  border: 1px solid rgba(46, 40, 40, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

form button {
  appearance: none;
  outline: 0;
  background-color: #50a3a2;
  border: 0;
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

.cards {
  border-radius: 25px;
  position: relative;
  padding: 45px 15px;
  background-color: rgb(247, 244, 244);
  margin: 30px 5px;
  height: 200px;
  box-shadow: 0 2px 5px #dfe2e2;
}

/* use State Hook CSS*/

button {
  display: inline-block;
  background-color: #6bbe92;
  border: 0;
  width: 60px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.timebutton {
  text-align: center;
  background-color: #6bbe92;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  width: 150px;
  margin: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

table {
  width: 400px;
}

tr td {
  padding: 0 10px;
}

.eventbutton {
  text-align: center;
  background-color: #6bbe92;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  width: 200px;
  margin: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.eventinput {
  color: black;
}

/* Todo list CSS */

.todocontainer {
  width: 100%;
  height: auto;
  min-height: 600px;
  max-width: 400px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
.todoheading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.todoheading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
  font-size: 1.5rem;
}

.todoinput {
  box-sizing: border-box;
  background-color: transparent;
  /* padding: 0.7rem; */
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #fdcb6e;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  /* margin-bottom: 20px; */
}

.todoform {
  display: flex;
}
.todobutton {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  /* swidth: 130px; */
  background-color: #ffeaa7;
}
.todobutton span {
  background: #f1f5f8;
  display: block;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid hsl(198, 1%, 29%);
}

.todoli {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}
